parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - tests
        - src/DependencyInjection/
        - src/GA4AnalyticsDataBundle.php
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            message: '#Unsafe usage of new static\(\)\.#'
            path: src/Domain/Period.php